/* border-box fix */
html {
    box-sizing: border-box;
  }
  
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  
  body {
    /* remove margin and padding on body */
    padding: 15;
    margin: 20;
    background-color: #fffffff6;
    font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: normal;
    }
    
  
  
  /* Grouping example */
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-transform: uppercase;
  }
  
  
  .wrapper {
    background: #ffffff;
    width: 80%;
    margin: 0 auto;
      /* grid layout parent */
       display: grid;
       /* create 12 col layout */
       grid-template-columns: repeat(12, minmax(0,1fr));
  }
  
  
  /* padding on immediate children of wrapper */
  .wrapper>* {
    padding: 20px;
  }
  
  
  header {
    background: #eec0ff;
    /* span all 12 cols */
    grid-column: 1/13;
  }
  
  
  main {
    background: #f5c7d6;
    /* span 6 cols */
    grid-column: 4/10;
  }
  
  
  nav {
    background: #f5efbd;
    /* span 3 cols */
    grid-column: 1/4;
  }
  
  
  aside {
    background: rgb(175, 202, 241);
    /* span 3 cols */
    grid-column: 10/13;
  }

  /* span 2 rows */
main,
nav,
aside {
  grid-row: 2 / 4;
}
  
  footer {
    background: #bbf2de;
    /* span all 12 cols */
    grid-column: 1/13;
  }
  